{
    "parser": "babel-eslint",
    "extends": "airbnb",
    settings: {
      "import/resolver": "webpack"
    },
    "plugins": [
      "react"
    ],
    "rules": {
      "react/prop-types": "off"
    }
}